javascript/package-lock.json
javascript/bower_components/
javascript/node_modules/.bin/cake
javascript/node_modules/
node_modules/
package-lock.json
angular6-plugin/.editorconfig
bower_components/
dist/
.gradle
.idea
.git
build
out
/input
/jsql
/jsql-task-runner-jar.iml
/debug
/tmp-dist
